body {
    padding: 0;
    margin: 0;
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: darkcyan;

}

#list {
    float: left;
    padding-right: 60px;
     text-align: justify top right;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color:black;
    
}
#list h1 {
    margin-left: 150px;
      border-style: solid;
     text-align: center;
      
}
#list h1:hover {
    background-color: darkgoldenrod;
    transition: all 0.4s ease;
}

#detail {
    font-style: italic;
    text-align: right;
    margin-right: 100px;
   text-align: center;


}

.rat{
   
   width: 50%;
    text-align: center;
    margin: 4% auto;
    padding: 40px 0;
    background: black;
    color:gold;
    border-radius: 5px;
    border: 2px solid #444;
    overflow: hidden;
    margin-top: 25px;

}
div.stars {
    width: 270px;
    display:inline-block;

}
input.star {
    display: none;

}
label.star{
    float:right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all 0.2s ease;

}
input.star:checked ~ label.star:before {
   content: '\f005';
   color: #fd4;
   transition: all 0.2s ease;
   
}
input.star-5:checked ~ label.star:before{
    color: #fe7;
    text-shadow: 0 0 20px #952;

}

label.star:before {
    content: "\f006";
    font-family: 'Courier New', Courier, monospace;
}